<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>djangoweb1</title>
</head>
<body>

<p> merhaba</p>
<P> site çalısıyor </P>

<h1>DJANGOWEB1 SİTESİNE HOŞGELDİNİZ</h1>
<h2>Django web sitesi alt başlık</h2>

<p>Bu web sitesinde django ile ilgili örnekler anlatılacaktır</p>

<em>vurgulu metin</em>
<br>
<strong>daha vurgulu metin </strong>
<br>

<a href="https://djangogirls.org">web sitesi yönlendirme</a>

<ul><li>ilk madde</li> <li>ikinci madde</li> <li> üçüncü madde</li></ul>
<div> sayfanın bir bölümünü tanımlar</div>
</body>
</html>